@{
    ViewData["Title"] = "Azure Regionen Weltkarte";
}
<h2>Azure Regionen Weltkarte</h2>
<div id="map" style="height: 600px;"></div>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="~/js/map.js"></script>